<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 d-none d-lg-block">
            <img src="assets/img/Boys-Feeling-Very-Sad-Images-Pics-Downlaod.jpg" class="img-fluid h-5o h-1oo" alt=""
                srcset="">
        </div>
        <div class="col-md-5">
            <div class="main_haeder header-sticky multi_item">
                <div class="em_side_right">
                    <a class="btn btn__back rounded-circle bg-snow" href="welcom.html">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </div>
                <div class="title_page">
                    <!-- <h1 class="page_name">
                        Sign 
                    </h1> -->
                </div>
                <div class="em_side_right">
                    <!-- Can you add something here.. -->
                </div>
            </div>
            <div class="row m-0">
                <h2 class="text-black  fw-bolder fs-1">Login to Qause</h2>
                <p class="text-muted font-weight-regular">Create your profile on Qause as a volunteer & connect with changemakers around the world!</p>
            </div>

            <div class="row m-0 no-guttor">
                <form>
                    <div class="form-group ">
                      <label for="exampleInputEmail1" class="text-muted">Phone</label>
                      <input type="Phone" class="form-control inform my-2 " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone Number">
                      <a href="regi.html" class="text-decoration-none text-right">Email</a>
                    </div>  
                  </form>
            </div>
            <div class="row p-4">
                <button type="button" class="btn btn-warning  btn-block p-3 mt-4 mb-4">Get Otp</button>
              
                <div class="divider d-flex justify-content-center">
                    <hr>
                    <p class="text-center fw-bold mx-3 mb-0 text-muted py-2">OR</p>
                </div>
                <a class="btn btn-light btn-lg py-lg-3 br-6 btn-block" style="color: rgb(8, 7, 7)" href="#!"
                    role="button">
                    <img src="https://img.icons8.com/color/16/000000/google-logo.png" class="mr-3"> Sign Up
                    using google
                </a>
            </div>
            <div class="row">
                <p class="fs-5 fw-light text-black-50 text-center mt-3 mb-3">New to Cause ? <a href="">Sing up</a></p>
            <p class="text-muted fs-6 fw-lighter text-center mt-5">By continuing to use mobile app, you agree to Qause’s <a href="">Terms</a> and <a href="">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</div>