.pricolor-txt {
    color: #F7A212;
}

.seccolor-txt {
    color: #253DC0;
    ;
}

.btn-warning {
    height: 56px;
    /* width: 315px; */
    left: 30px;
    top: 266px;
    border-radius: 20px;
    padding: 20px, 25px, 20px, 25px;
    color: #ffffff;
    background-color: #F7A212;
    border-color: #F7A212;
    font-weight: 700;
}

.btn-light {
    height: 56px;
    /* width: 315px; */
    left: 30px;
    top: 266px;
    border-radius: 20px;
    padding: 20px, 25px, 20px, 25px;
    font-weight: 700;
}

.h-1oo {
    height: 100vh;
}

@media only screen and (max-width: 480px) {
    .h-5o {
        height: 60vh;
    }

    .roundeffect {
        padding-top: 40px;
        margin-top: -200px;
        border-radius: 25px 25px 0 0;
        background: white;
    }
}       
 @media only screen and (max-width: 768px) {
    .h-5o {
        height: 60vh;
        width: 100%;
    }
    .roundeffect {
        padding-top: 40px;
        margin-top: -200px;
        border-radius: 25px 25px 0 0;
        background: white;
    }
}
